table {
    width: 100%;
   

  }

  .mat-table{
    background: gray;
  }

  .mat-form-field-appearance-legacy .mat-form-field-infix {
    padding: .5em 0;
    background: gray;
}

  .nice-font {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 3px;
}

.content-table{
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 2%;
}

.mat-form-field{
    background-color: dimgrey;
    width: 100%;
}

.landing{
    box-shadow: rgba(15, 10, 170, 0.4) 0px 5px, rgba(24, 127, 121, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
    margin-left: 20%;
    margin-right: 20%;
}