<app-nav></app-nav>
<br>
<br>
<div class="container">
    <div class="container-box">
        <div class="box a">
            <h3>Planet Name</h3>
            <p>{{planets[0].pl_name}}</p> 
        </div>
        <div class="box b">
            <h5>Host Star</h5>
            <p>{{planets[0].hostname}}</p> 
        </div>
        <div class="box c">
            <h5>Moons</h5>
            <p>{{planets[0].sy_mnum}}</p> 
        </div>
        <div class="box d">
            <h5>Discovery Facility</h5>
            <p>{{planets[0].disc_facility}}</p> 
        </div>
        <div class="box e">
            <h5>Orbital Period (Days)</h5>
            <p>{{planets[0].pl_orbper}}</p> 
        </div>
        <div class="box f">
            <h5>Discovery Year</h5>
            <p>{{planets[0].disc_year}}</p> 
        </div>
        <div class="box g">
            <h5>Discovery Telescope</h5>
            <p>{{planets[0].disc_telescope}}</p> 
        </div>
      </div>

      <div class="input">
        <h3>Share Your Thoughts</h3>
        <div class="text-field">
        <input [(ngModel)]="texts" type="text" class="textarea"  placeholder="Penny for your thoughts, links, or images..."> <br/>
    </div>
    <div class="img-btns"> 
        <input class="main-bttn" type="button"  value="Upload File">
        <input type="file" (change)="getFile($event)"> 
    </div>
<div class="submit-post">
    <button (click)="uploadPost(texts,planets[0].pl_name, '')">Post</button>
</div>
    </div>
    <br> 
    <div class="post-feed">
        <h2 id="title">Planet feed</h2>    
        <app-post-feed [planet]="name"></app-post-feed>
    </div>
</div>
