*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }

  .container{
    display: flex;
    background-color: silver;
  }


  .profile-card{
    width: 350px;
    margin-right: 5%;
    overflow: hidden;
    text-align: center;
    position: relative;
    box-shadow: 0 0 4px;
    margin-left: 8%;
    height: 500px;
  }
  
  .top-section{
    padding: 60px 40px;
  }
  
  .message,.notif{
    position: absolute;
    top: 40px;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff50;
  }
  
  .message{
    right: 40px;
  }
  
  .notif{
    left: 40px;
  }
  
  .pic{
    width: 150px;
    height: 150px;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid aliceblue;
    border-radius: 50%;
    padding: 8px;
    position: relative;
  }
  
  .pic:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 1px solid grey;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    animation: wave 2.5s infinite linear;
  }
  
  @keyframes wave {
    to{
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  .pic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  
  .name{
    color: black;
    font-size: 28px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  .tag{
    font-size: 18px;
    color: #222;
  }
  
  .bottom-section{
    background: #f1f1f1;
    padding: 30px 40px;
    position: relative;
    height: 176px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    text-transform: uppercase;
  }
  
  .border{
    width: 1px;
    height: 20px;
    background: #bbb;
    margin: 0 30px;
  }
  
  .bottom-section span{
    font-size: 14px;
    display: block;
  }
  
  .social-media{
    position: absolute;
    width: 100%;
    top: -30px;
    left: 0;
    z-index: 1;
  }
  
  .social-media i{
    width: 60px;
    height: 60px;
    background: blue;
    border-radius: 50%;
    color: #f1f1f1;
    font-size: 20px;
    line-height: 60px !important;
    margin: 0 10px;
    position: relative;
  }
  
  .social-media i:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FF6D51;
    left: 0;
    top: 0;
    box-sizing: border-box;
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s linear;
  }
  
  .social-media i:hover:after{
    transform: scale(1.4);
    opacity: 0;
  }

  .submit-post  button{
    display: inline-flex;
    margin-right: 5px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 30px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 12px;
    margin-top: 20px;
  }

  .img-btns  input{
    display: inline-flex;
    margin-right: 5px;
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 13px;
  }


  
  .img-btns  input:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .img-btns  input:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .img-btns  input:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }