<header>
    <div  class="container">
  
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-3">
          <div class="logo">
          <a (click)="goHome()" style="cursor:pointer;">  <img src="https://th.bing.com/th/id/R.ef22970332bae92dd783ecbe7aa4a249?rik=%2f9gLpDe5uYoWdw&pid=ImgRaw&r=0" alt="logo"></a>
          </div>
  
        </div>
  
  
        <div class="col-md-9 col-sm-9 col-9 text-end">
  
  
        <div class="menu_icon" [class.menu_iconClass]="menu_icon_variable" (click)="openMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
  
  
          <div class="menu" [class.menuClasse]="menuVariable">
            <ul>
              <li><a (click)="goHome()">Home</a></li>
              <li *ngIf="loggedInUser" ><a >Profile</a></li>
              <li  *ngIf="loggedInUser" ><a (click)="logout()" >LogOut</a></li>
              <li  *ngIf="!loggedInUser"><a  (click)="signIn()">Login</a></li>

            </ul>
          </div>
  
        </div>
  
      </div>
  
    </div>
  </header>
