<div style="max-width: 600px; margin: auto; padding: 1em;">
<mat-card>
    <mat-card-header>
            <mat-card-title >{{post.userDto.username}}</mat-card-title>
        <img src={{post.userDto.img}} mat-card-avatar>
        <mat-card-subtitle>{{post.date | date: "short"}}</mat-card-subtitle>
    </mat-card-header>
    <img style="max-height:450px ;" src={{post.img_url}} mat-card-image>
    <mat-card-content class="nice-font">
        {{post.texts}}
        <br>
        <hr  class="hr-text" data-content="">
        <app-comment [postId]="post.id"></app-comment>

    </mat-card-content>

<form  *ngIf="reply">
        <div class="input">
    <div class="text-field">
    <input [(ngModel)]="texts" [ngModelOptions]="{standalone: true}" type="text" class="textarea"  placeholder="Reply here"> <br/>
    </div>
        </div>
</form>
    <mat-card-actions align="end">
        <button *ngIf="!reply" (click)="Like()"  mat-icon-button matBadge={{likes}} matBadgePosition="after" matBadgeColor="warn">
            <mat-icon *ngIf="!reply" >thumb_up_off_alt</mat-icon>
        </button>  
        <button mat-icon-button (click)="toggleReply()" *ngIf="!reply">
            Reply
        </button>    
        <div  class="submit-post">
            <button *ngIf="reply" (click)="toggleReply()">Cancel</button>
            <button *ngIf="reply" (click)="submitComment()">Post</button>
        </div>
      
    </mat-card-actions>

</mat-card>
</div>

